@page "/7"
@using JoinedTogetherGmtk2021.Game

<h3>
    7. The great escape.
</h3>
<small>Reach FLOOR 1. (That's above you)</small>

<CastleScenario FloorFactory="@FloorTemplate" EnableBackpack="true" WinCondition="WinCondition"  WinConditionReached="@Next"/>

@inject NavigationManager NavigationManager
@code
{
    private void Next()
    {
        NavigationManager.NavigateTo("ThankYou");
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private Floor FloorTemplate()
    {
        var floor = new Floor(6, 6);
        floor.Layout[new FloorCoord {X = 0, Y = 2}] = new Room(RoomTypes.PATH_E_W);
        floor.GameObjects.Add(new GameObject{Position = new FloorCoord{X=0,Y=2},IsPlayer = true});

        floor.Layout[new FloorCoord {X = 0, Y = 5}] = new Room(RoomTypes.PATHN__W);
        floor.Layout[new FloorCoord {X = 1, Y = 5}] = new Room(RoomTypes.PATH__SW);
        floor.Layout[new FloorCoord {X = 3, Y = 5}] = new Room(RoomTypes.PATHN___);
        floor.Layout[new FloorCoord {X = 4, Y = 5}] = new Room(RoomTypes.PATH_E_W);
        floor.Layout[new FloorCoord {X = 5, Y = 5}] = new Room(RoomTypes.PATHN___);
        return floor;
    }

    private bool WinCondition(CastleScenario arg)
    {
        return arg.CurrentFloor.Name == "Floor 1";
    }
}


