@page "/6"
@using JoinedTogetherGmtk2021.Game

<h3>
    6. A bridge, unquestionably too far.
</h3>
<small>Reach the banner.</small>

<CastleScenario FloorFactory="@FloorTemplate" EnableBackpack="true"  WinConditionReached="@Next"/>

@inject NavigationManager NavigationManager
@code
{
    private void Next()
    {
        NavigationManager.NavigateTo("7");
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private Floor FloorTemplate()
    {
        var floor = new Floor(6, 6);
        floor.Layout[new FloorCoord {X = 0, Y = 2}] = new Room(RoomTypes.PATH_E_W);
        floor.GameObjects.Add(new GameObject{Position = new FloorCoord{X=0,Y=2},IsPlayer = true});

        floor.Layout[new FloorCoord {X = 5, Y = 2}] = new Room(RoomTypes.PATH_E_W);
        floor.GameObjects.Add(new GameObject{Position = new FloorCoord{X=5,Y=2},IsExit = true});

        floor.Layout[new FloorCoord {X = 0, Y = 5}] = new Room(RoomTypes.PATHN__W);
        floor.Layout[new FloorCoord {X = 1, Y = 5}] = new Room(RoomTypes.PATH__SW);
        floor.Layout[new FloorCoord {X = 2, Y = 5}] = new Room(RoomTypes.PATHN___);
        floor.Layout[new FloorCoord {X = 4, Y = 5}] = new Room(RoomTypes.PATH_E_W);
        
        return floor;
    }

}


