@page "/ThankYou"

<h1>Thank you for playing.</h1>

<h2>Attributions</h2>
<p style="font-style: italic">With apologies to:</p>
<div class="container">
    

    <h6>Art</h6>
    <table class="table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tr>
            <td>SecretHideout</td>
            <td>RogueDungeon</td>
        </tr>
        <tr>
            <td>kenney</td>
            <td>cartographypack, tooncharacters</td>
        </tr>
    </table>


    <h6>Foley</h6>
    <table  class="table">
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
        <tr>
            <td>steaq</td>
            <td>387232__steaq__badge-coin-win</td>
        </tr>
        <tr>
            <td>mativve</td>
            <td>391539__mativve__electro-win-sound</td>
        </tr>
        <tr>
            <td>lextrack</td>
            <td>265306__lextrack__climbing-the-ladder</td>
        </tr>
        <tr>
            <td>zovipoland</td>
            <td>517724__zovipoland__clothes-drop-3</td>
        </tr>
        <tr>
            <td>clearwavsound</td>
            <td>540338__clearwavsound__bricks-sliding</td>
        </tr>
    </table>
</div>


@code {

}

