@page "/ThankYou"




<div class="container">

    <h1>Thank you.</h1>
    <p style="text-align: left;">
        <span class="badge badge-primary">Joining together</span> with this community has become one of the highlights of each year.
        Hope you managed to cram in all of your most wild and crazy out-of-scope ideas.
        <br/>
        <br/>♥ Aaron
		<br/>
        <small>Find me on Discord @@s3raphym for your next jam.</small>
    </p>
	
    <div style="margin: 20px;">
        <button class="btn btn-primary" @onclick="Back">Back to menu</button>
    </div>
    
    <p style="font-style: italic;text-decoration: underline;">With attribution &amp; apology to:</p>
	
    <div style="text-align: left;">
    <h5>Artists</h5>
    <table class="table table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tr>
            <td>Itch.io / SecretHideout</td>
            <td>RogueDungeon</td>
        </tr>
        <tr>
            <td>Kenney</td>
            <td>cartographypack, tooncharacters</td>
        </tr>
    </table>


    <h5>Foley</h5>
        <table class="table table-hover table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Freesound Author</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>


            <tr>
                <td>steaq</td>
                <td>387232__steaq__badge-coin-win</td>
            </tr>
            <tr>
                <td>mativve</td>
                <td>391539__mativve__electro-win-sound</td>
            </tr>
            <tr>
                <td>lextrack</td>
                <td>265306__lextrack__climbing-the-ladder</td>
            </tr>
            <tr>
                <td>zovipoland</td>
                <td>517724__zovipoland__clothes-drop-3</td>
            </tr>
            <tr>
                <td>clearwavsound</td>
                <td>540338__clearwavsound__bricks-sliding</td>
            </tr>
        </table>
    </div>
</div>


@inject NavigationManager navigationManager
@code {

    private void Back()
    {
		navigationManager.NavigateTo("/");
    }
}

